node-red-flows/Http commands.txt
[{"id":"a9817875.dbf468","type":"tab","label":"Http commands","disabled":false,"info":""},{"id":"2704b215.20fb3e","type":"http in","z":"a9817875.dbf468","name":"Start","url":"command/start","method":"put","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["4749a400.e51b1c"]]},{"id":"c7537be9.acc408","type":"change","z":"a9817875.dbf468","name":"CORS","rules":[{"t":"set","p":"req.headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":60,"wires":[["9b7ad51a.d2fab8"]]},{"id":"9b7ad51a.d2fab8","type":"http response","z":"a9817875.dbf468","name":"","statusCode":"","headers":{},"x":720,"y":60,"wires":[]},{"id":"4749a400.e51b1c","type":"change","z":"a9817875.dbf468","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":60,"wires":[["c7537be9.acc408"]]},{"id":"9db27a9c.1fcf38","type":"http in","z":"a9817875.dbf468","name":"Stop","url":"command/stop","method":"put","upload":false,"swaggerDoc":"","x":90,"y":120,"wires":[["c43319c9.2cc5b8"]]},{"id":"92b98ad6.62cc18","type":"change","z":"a9817875.dbf468","name":"CORS","rules":[{"t":"set","p":"req.headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":120,"wires":[["b2f2ff7c.3f1e2"]]},{"id":"b2f2ff7c.3f1e2","type":"http response","z":"a9817875.dbf468","name":"","statusCode":"","headers":{},"x":720,"y":120,"wires":[]},{"id":"c43319c9.2cc5b8","type":"change","z":"a9817875.dbf468","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":120,"wires":[["92b98ad6.62cc18"]]},{"id":"8ff817c5.315688","type":"http in","z":"a9817875.dbf468","name":"Pause","url":"command/pause","method":"put","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["be8bad03.55f8a"]]},{"id":"1f770bc8.d1fca4","type":"change","z":"a9817875.dbf468","name":"CORS","rules":[{"t":"set","p":"req.headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["2076fb62.d2e744"]]},{"id":"2076fb62.d2e744","type":"http response","z":"a9817875.dbf468","name":"","statusCode":"","headers":{},"x":720,"y":180,"wires":[]},{"id":"be8bad03.55f8a","type":"change","z":"a9817875.dbf468","name":"Pause","rules":[{"t":"set","p":"payload","pt":"msg","to":"pause","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":180,"wires":[["1f770bc8.d1fca4"]]},{"id":"29b98d6f.5f6f22","type":"http in","z":"a9817875.dbf468","name":"Restart","url":"command/restart","method":"put","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["837bb9f0.d49708"]]},{"id":"5e21f392.c90edc","type":"change","z":"a9817875.dbf468","name":"CORS","rules":[{"t":"set","p":"req.headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["25767ea6.b70082"]]},{"id":"25767ea6.b70082","type":"http response","z":"a9817875.dbf468","name":"","statusCode":"","headers":{},"x":720,"y":240,"wires":[]},{"id":"837bb9f0.d49708","type":"change","z":"a9817875.dbf468","name":"Restart","rules":[{"t":"set","p":"payload","pt":"msg","to":"restart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":240,"wires":[["5e21f392.c90edc"]]},{"id":"d5673c5d.88cc5","type":"http in","z":"a9817875.dbf468","name":"Forward","url":"command/forward","method":"put","upload":false,"swaggerDoc":"","x":100,"y":300,"wires":[["f0dc6d27.8ae3e"]]},{"id":"722645d4.d0788c","type":"change","z":"a9817875.dbf468","name":"CORS","rules":[{"t":"set","p":"req.headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":300,"wires":[["1147f96c.fc5eb7"]]},{"id":"1147f96c.fc5eb7","type":"http response","z":"a9817875.dbf468","name":"","statusCode":"","headers":{},"x":720,"y":300,"wires":[]},{"id":"f0dc6d27.8ae3e","type":"change","z":"a9817875.dbf468","name":"Forward","rules":[{"t":"set","p":"payload","pt":"msg","to":"forward","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":300,"wires":[["722645d4.d0788c"]]},{"id":"5276684a.993648","type":"http in","z":"a9817875.dbf468","name":"Backward","url":"command/backward","method":"put","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["6ba99111.34e7b"]]},{"id":"86f45331.53ec","type":"change","z":"a9817875.dbf468","name":"CORS","rules":[{"t":"set","p":"req.headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["650dfb63.ba46f4"]]},{"id":"650dfb63.ba46f4","type":"http response","z":"a9817875.dbf468","name":"","statusCode":"","headers":{},"x":720,"y":360,"wires":[]},{"id":"6ba99111.34e7b","type":"change","z":"a9817875.dbf468","name":"Backward","rules":[{"t":"set","p":"payload","pt":"msg","to":"backward","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":360,"wires":[["86f45331.53ec"]]}]