node-red-flows/Http commands.txt
[{"id":"fd1fa104.07e53","type":"tab","label":"Timer Flow","disabled":false,"info":""},{"id":"af5be2bd.9c9e7","type":"debug","z":"fd1fa104.07e53","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":80,"wires":[]},{"id":"c93bb039.3a97b","type":"http in","z":"fd1fa104.07e53","name":"Start","url":"command/start","method":"put","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["14e7d06e.8492b"]]},{"id":"8cd8eb3b.99cc68","type":"change","z":"fd1fa104.07e53","name":"header-config","rules":[{"t":"set","p":"headers.Access-Control-Allow-Origin","pt":"msg","to":"*","tot":"str"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.Transfer-Encoding","pt":"msg","to":"chuncked","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[["387e0dea.2eb3c2","af5be2bd.9c9e7"]]},{"id":"387e0dea.2eb3c2","type":"http response","z":"fd1fa104.07e53","name":"","statusCode":"","headers":{},"x":870,"y":140,"wires":[]},{"id":"9579b137.79293","type":"http in","z":"fd1fa104.07e53","name":"Pause","url":"command/pause","method":"put","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["f6c62b88.f8b8c8"]]},{"id":"cf267d91.fe30a","type":"http in","z":"fd1fa104.07e53","name":"Stop","url":"command/stop","method":"put","upload":false,"swaggerDoc":"","x":130,"y":200,"wires":[["9cb80690.2be9d8"]]},{"id":"2849a11c.7d3eae","type":"http in","z":"fd1fa104.07e53","name":"Restart","url":"command/restart","method":"put","upload":false,"swaggerDoc":"","x":130,"y":260,"wires":[["36dd148a.c6db9c"]]},{"id":"1d8fbcb7.80ef73","type":"http in","z":"fd1fa104.07e53","name":"Forward","url":"command/forward","method":"put","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["4a99bba1.080154"]]},{"id":"bf0ca180.0f831","type":"http in","z":"fd1fa104.07e53","name":"Backward","url":"command/backward","method":"put","upload":false,"swaggerDoc":"","x":140,"y":380,"wires":[["e01a767e.c187e8"]]},{"id":"14e7d06e.8492b","type":"template","z":"fd1fa104.07e53","name":"Set Start","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"command\":\"start\"\n}","output":"json","x":300,"y":80,"wires":[["8cd8eb3b.99cc68"]]},{"id":"4a99bba1.080154","type":"template","z":"fd1fa104.07e53","name":"Set Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"command\":\"forward\"\n}","output":"json","x":310,"y":320,"wires":[["8cd8eb3b.99cc68"]]},{"id":"f6c62b88.f8b8c8","type":"template","z":"fd1fa104.07e53","name":"Set Pause","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"command\":\"pause\"\n}","output":"json","x":310,"y":140,"wires":[["8cd8eb3b.99cc68"]]},{"id":"9cb80690.2be9d8","type":"template","z":"fd1fa104.07e53","name":"Set Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"command\":\"stop\"\n}","output":"json","x":300,"y":200,"wires":[["8cd8eb3b.99cc68"]]},{"id":"36dd148a.c6db9c","type":"template","z":"fd1fa104.07e53","name":"Set Restart","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"command\":\"restart\"\n}","output":"json","x":310,"y":260,"wires":[["8cd8eb3b.99cc68"]]},{"id":"e01a767e.c187e8","type":"template","z":"fd1fa104.07e53","name":"Set Backward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"command\":\"backward\"\n}","output":"json","x":320,"y":380,"wires":[["8cd8eb3b.99cc68"]]}]